# --- Google Cloud Configuration ---
GOOGLE_CLOUD_PROJECT="your-project-id"

# Location
GOOGLE_CLOUD_LOCATION="us"

# Toggle for ADK to use Vertex AI 
GOOGLE_GENAI_USE_VERTEXAI=1

# The email address of your Google Cloud Service Account
SERVICE_ACCOUNT="your-service-account@your-project.iam.gserviceaccount.com"

# The specific Gemini model used for reasoning and tool-calling
MODEL="gemini-2.0-flash" 

# BigQuery Data Path
BIGQUERY_TABLE_PATH="project_id-dataset_name-table_name"  